<!DOCTYPE HTML>

<html lang='en'>
  <head>

		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
    <title>JS-Weather</title>
    <link href="static/css/bootstrap.min.css" rel="stylesheet">
  </head>

  <body>
    <div class="container">
      <form class="form-horizontal" method="post">
        <input type="text" class="form-control" placeholder="Enter City">
        <input class="btn btn-success btn-lrg" type="submit" value="Get Weather">
      </form>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="static/js/bootstrap.min.js"></script>
  </body>


</html>
