.center {
    display: table;
    margin: 0 auto;
    width: 50%;
}

.drop {
  margin-top: 4.5%;
}

.font {
  font-family: 'Schoolbell', cursive;
}

.space {
  margin-left: 15%;
  margin-top: 2.2%;
}

.title {
  text-align : center;
  font-size: 70px;
  color: #ffff80;
  margin-top: 2.5%;
}

.data-string {
  float: left;
  width: 100%;
}

.data-image {
  float: right;
  margin-top: -25%;
  margin-right: 10%;
}

#city {
  color: #80bfff;
}

#temp {
  color: #ff6666;
}

#humid {
  color: #cca300;
}

#cloud {
  color: #33ff77;
}

#wind {
  color: #ff80ff;
}

#pic {

}

p {
  text-align: justify;
  font-family: 'Schoolbell', cursive;
  font-size: 26px;
  color: #666666;
}
